<%- include('partials/header') %>

  <main>
    <h1>Категориялар</h1>
    
    <div class="categories-grid">
      <% categories.forEach(category => { %>
  <a href="/category/<%= category._id %>" class="category-card">
    <h2><%= category.name %></h2>
    <div class="video-count">
      <%= category.videos.length %> Видео
    </div>
  </a>
<% }); %>
    </div>
  </main>

<%- include('partials/footer') %>
